/* Apply background image and top border to the title slide */
.reveal .slides>section:first-child h1.title-slide {
  background-image: url(img/logo-title-slide.png), url(img/fig.png);
  background-size: 200px auto, 100% 200px;
  background-position: 90% 5%, bottom;
  background-repeat: no-repeat;
  border-top: 90px solid #006D6B; /* Color the top border */
}
/* Apply background color and top border to the title slide */
.reveal .slides>section:first-of-type .title-slide {
  background-color: #FFFFFF;
  border-top: 90px solid #006D6B;
}
